<form method="post" action="{{ path('app_proyecto_delete', {'id': proyecto.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proyecto.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
